{% extends 'base.html' %} {% block content %} {% set cur_page = "add_sensor" %}

<h1>{% block title %} Cadastre novos sensores {% endblock %}</h1>
<h2>
  Preencha o formulário abaixo passando o tipo e endereço MAC corretos do sensor
</h2>

<form method="POST" action="/addSensor/">
  <div class="mb-3">
    <label for="name" class="form-label">Nome</label>
    <input class="form-control" id="name" name="name" required type="text" />
    <div id="labelHelp" class="form-text">
      Escolha um nome para identificar o sensor.
    </div>
  </div>
  <div class="mb-3">
    <label for="type" class="form-label">Tipo de sensor</label>
    <select id="type" name="type" required>
      <option value="0">Sensor infravermelho</option>
      <option value="1">Sensor de porta</option>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label" for="macAddress">Endereço MAC:</label>
    <input class="form-control" id="macAddress" name="macAddress" type="text" />
    <small class="text-muted">Formato: XX:XX:XX:XX:XX:XX</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
  $(document).ready(function () {
    $("#macAddress").mask("ZZ:ZZ:ZZ:ZZ:ZZ:ZZ", {
      translation: {
        Z: { pattern: /[A-Z0-9\s]/ },
      },
    });
  });
</script>

{% endblock %}
