{% extends 'base.html' %} {% block content %}
<span class="title"
  ><h1>{% block title %} The Sensors Page {% endblock %}</h1></span
>
<div class="content">
  <h2>This is the main Flask blueprint</h2>
  {% for sensor in sensors %}
  <div class="post">
    <p><b>#{{ sensor.id }}</b></p>
    <p class="title">
      <b>
        <a href="#"> {{ sensor.label }} </a>
      </b>
    </p>
    <div class="content">
      <p>{{ sensor.type }}</p>
      <p>{{ sensor.mac }}</p>
    </div>
    <hr />
  </div>
  {% endfor %}
</div>
{% endblock %}
