{% extends 'base.html' %} {% block content %}
<h1>Ligando ou desligando o ar condicionado</h1>
{% if command == "on" %}
<h2>Ligando!</h2>
{% elif command == "off" %}
<h2>Desligando!</h2>
{% else %}
<h2>Ligue ou desligue o ar clicando nos botões</h2>
{% endif %}

<form method="POST" action="/turnOnOff/{{sensor_id}}">
  <div class="row">
    <input
      class="btn btn-primary col-6"
      name="turn_on"
      type="submit"
      value="on"
    />
    <input
      class="btn btn-primary col-6"
      name="turn_on"
      type="submit"
      value="off"
    />
  </div>
</form>

{% endblock %}
