{% extends 'base.html' %} {% block content %}
<title>Ligando ou desligando o ar condicionado</title>
{% if command == "on" %}
<h1>Ligando!</h1>
{% elif command == "off" %}
<h1>Desligando!</h1>
{% else %}
<h1>Ligue ou desligue o ar clicando nos botões</h1>
{% endif %}

<form method="POST" action="/turnOnOff/{{sensor_id}}">
  <div class="row">
    <input
      class="btn btn-primary col-6"
      name="turn_on"
      type="submit"
      value="on"
    />
    <input
      class="btn btn-primary col-6"
      name="turn_on"
      type="submit"
      value="off"
    />
  </div>
</form>

{% endblock %}
